
<%= form_with model: person do |form| %>
    <section class="mb-3 border rounded-5 p-3" id="name-section">
        <h3 class="form-label">Name</h3>

        <article class="mb-3 d-flex">
                <%= form.select :salutation, ["Mr.", "Ms.", "Mrs.", "Lord", "Lady"], class:"form-control w-auto mx-1" %>

                <%= form.label "First", class: "d-none" %>
                <%= form.text_field :firstname, class:"form-control ms-3", placeholder: "First name" %>
                <% person.errors.full_messages_for(:firstname).each do |message| %>
                    <div><%= message %></div>
                <% end %>
        </article>

        <article class="mb-3 col">
            <%= form.label "Middle", class: "d-none" %>
            <%= form.text_field :middlename, class:"form-control", placeholder: "Middle (optional)" %>
            <% person.errors.full_messages_for(:middlename).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </article>

        <article class="mb-3 col">
            <%= form.label "Last", class: "d-none" %>
            <%= form.text_field :lastname, class:"form-control", placeholder: "Last name" %>
            <% person.errors.full_messages_for(:lastname).each do |message| %>
                <div><%= message %></div>
            <% end %>
        </article>
    </section>

    <section class="mb-3 border rounded-5 p-3" id="details-section">
        <h3>Details</h3>
        <div class="row">
            <article class="mb-3 col-lg-6">
                <%= form.label :ssn, "Social Security Number (optional)" %>
                <%= form.text_field :ssn, class:"form-control text-center", placeholder: "###-##-####" %>
                <% person.errors.full_messages_for(:ssn).each do |message| %>
                    <div><%= message %></div>
                <% end %>
            </article>

            <article class="mb-3 col-lg-6 d-flex flex-column">
                <%= form.label :dob, "Date of birth (optional)" %>
                <div class="d-sm-flex">
                    <%= form.text_field :dob, class:"form-control text-center" %>
                </div>
                <% person.errors.full_messages_for(:dob).each do |message| %>
                    <div><%= message %></div>
                <% end %>
            </article>
        </div>
    </section>

    <section class="mb-3 border rounded-5 p-3" id="comment-section">
        <%= form.label :comment, class: "form-label h3" %>
        <%= form.text_area :comment, class:"form-control", placeholder: "Comments (optional)" %>
        <% person.errors.full_messages_for(:comment).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </section>

    <section id="submit-section" class="px-3">
        <%= form.submit class:"btn btn-dark w-100" %>
    </section>
<% end %>