<h1>Contact</h1>
<section id="person-section" class="container d-flex flex-wrap border rounded-5 p-3 mb-3">
    <h2 class="w-100"><%= @person.salutation %> <%= @person.firstname %> <%= @person.middlename %> <%= @person.lastname %></h2>
    <article class="w-50">
        <p class="fw-semibold mb-1">SSN</p>
        <p class="ps-2"><%= @person.ssn %></p>
    </article>

    <article class="w-auto">
        <p class="fw-semibold mb-1">Birth date</p>
        <p class="ps-2"><%= @person.dob %></p>
    </article>

    <article class="w-100 mb-3">
        <p class="fw-semibold mb-1">Comment</p>
        <p class="ps-3"><%= @person.comment %></p>
    </article>

    <article class="flex-grow-1 d-flex justify-content-start ps-0">
        <button class="btn btn-dark mx-1"><%= link_to "Edit", edit_person_path, class:"text-decoration-none text-light" %></li>
        <button class="btn btn-dark mx-1"><%= link_to "Delete", person_path(@person), class:"text-decoration-none text-light", data: {
            turbo_method: :delete,
            turbo_confirm: "Confirm deletion"
            } %></li>
    </article>
</section>

<section id="contact-section">
    <article class="container d-flex flex-wrap border rounded-5 p-3 mb-3">
        <h2 class="w-100">Addresses</h2>
        <%= render @person.addresses %>
    </article>

    <article class="container d-flex flex-column border rounded-5 p-3 mb-3">
        <h2>Emails</h2>
        <%= render @person.emails %>
    </article>

    <article class="container d-flex flex-column border rounded-5 p-3 mb-3">
        <h2>Phone numbers</h2>
        <%= render @person.phone_numbers %>
    </article>
</section>

<section id="forms-section" class="container d-flex flex-column border rounded-5 p-3 mb-3">
    <article>
        <h2>Add an address</h2>
        <%= render 'addresses/form' %>
    </article>
    <article>
        <h2>Add an email</h2>
        <%= render 'emails/form' %>
    </article>
    <article>
        <h2>Add a phone number</h2>
        <%= render 'phone_numbers/form' %>
    </article>
</section>