<h1><%= @person.firstname %> <%= @person.lastname %>
<div>
    <p>First name</p>
    <p><%= @person.firstname %></p>

    <p>Middle name</p>
    <p><%= @person.middlename %></p>

    <p>Last name</p>
    <p><%= @person.lastname %></p>

    <p>SSN</p>
    <p><%= @person.ssn %></p>

    <p>Birth date</p>
    <p><%= @person.dob %></p>

    <p id="comment">Comment</p>
    <p><%= @person.comment %></p>
</div>

<ul>
    <li><%= link_to "Edit contact", edit_person_path %></li>
    <li><%= link_to "Delete contact", person_path(@person), data: {
        turbo_method: :delete,
        turbo_confirm: "Confirm deletion"
        } %></li>
    <li><%= link_to "Address book", "/" %></li>
</ul>

