<section>
    <h1><%= @person.firstname %> <%= @person.lastname %>
    <div>
        <p>First name</p>
        <p><%= @person.firstname %></p>

        <p>Middle name</p>
        <p><%= @person.middlename %></p>

        <p>Last name</p>
        <p><%= @person.lastname %></p>

        <p>SSN</p>
        <p><%= @person.ssn %></p>

        <p>Birth date</p>
        <p><%= @person.dob %></p>

        <p id="comment">Comment</p>
        <p><%= @person.comment %></p>
    </div>

    <ul>
        <li><%= link_to "Edit contact", edit_person_path %></li>
        <li><%= link_to "Delete contact", person_path(@person), data: {
            turbo_method: :delete,
            turbo_confirm: "Confirm deletion"
            } %></li>
        <li><%= link_to "Address book", "/" %></li>
    </ul>
</section>

<section>
    <article>
        <h2>Addresses</h2>
        <%= render @person.addresses %>
    </article>
    <article>
        <h2>Emails</h2>
        <%= render @person.emails %>
    </article>
        <article>
        <h2>Phone numbers</h2>
        <%= render @person.phone_numbers %>
    </article>
</section>

<section>
    <article>
        <h2>Add an address</h2>
        <%= render 'addresses/form' %>
    </article>
    <article>
        <h2>Add an email</h2>
        <%= render 'emails/form' %>
    </article>
    <article>
        <h2>Add a phone number</h2>
        <%= render 'phone_numbers/form' %>
    </article>
</section>