<div>
    <strong>Street</strong>
    <%= address.street %>
</div>

<div>
    <strong>Town</strong>
    <%= address.town %>
</div>

<div>
    <strong>Zip Code</strong>
    <%= address.zipcode %>
</div>

<div>
    <strong>State</strong>
    <%= address.state %>
</div>

<div>
    <strong>Country</strong>
    <%= address.country %>
</div>

<button>
    <%= link_to "Edit", edit_person_address_path(@person, address) %>
</button>

<button>
    <%= link_to "Delete", [address.person, address], data: {
        turbo_method: :delete,
        turbo_confirm: "Delete address?"
        } %>
</button>
<br/>