<article class="w-100">
    <strong>Street</strong>
    <p class="ps-1"><%= address.street %></p>
</article>

<article class="w-50">
    <strong>City</strong>
    <p class="ps-1"><%= address.town %></p>
</article>

<article class="w-25">
    <strong>Zip Code</strong>
    <p class="ps-1"><%= address.zipcode %></p>
</article>

<article class="w-25">
    <strong>State</strong>
    <p class="ps-1"><%= address.state %></p>
</article>

<article class="w-100">
    <strong>Country</strong>
    <p class="ps-1"><%= address.country %></p>
</article>

<article class="w-100 d-flex justify-content-start ps-0">
    <button class="btn btn-dark mx-1">
        <%= link_to "Edit", edit_person_address_path(@person, address), class:"text-decoration-none text-light" %>
    </button>

    <button class="btn btn-dark mx-1">
    <%# ::bug:: clicking button does not delete address %>
        <%= link_to "Delete", person_path(@person), class:"text-decoration-none text-light", data: {
            turbo_method: :delete,
            turbo_confirm: "Delete address?"
            } %>
    </button>
</article>
