<!DOCTYPE html>
<html>
  <head>
    <title>AddressBookEdwinEscobar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-secondary">
    <header class="navbar navbar-dark bg-dark sticky-top">
      <h1><%= link_to "Address book", "/", class:"text-decoration-none dark text-light" %></h1>
    </header>
    <main class="d-flex flex-column justify-contents-center mx-1">
     <%= yield %>
    </main>
  </body>
</html>
