<!DOCTYPE html>
<html>
  <head>
    <title>AddressBookEdwinEscobar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-secondary vh-100 d-lg-flex align-items-lg-stretch d-md-flex align-items-md-stretch">
    <header class="d-lg-flex flex-lg-column d-md-flex flex-md-column navbar navbar-dark bg-dark sticky-top p-lg-3 p-md-3">
      <%= render 'header/navbar' %>
    </header>
    <main class="d-flex flex-column justify-content-center flex-wrap mx-2 mx-md-5 my-md-auto">
     <%= yield %>
    </main>
  </body>
</html>
